a {
	text-decoration: none;
	
}

.main-header {
	margin-bottom: 30px;
}

.button {
	background: black;
	color: white;
	padding: 10px 25px;
}

.button:hover {
	background: black;
	color: orange;
}

#main-menu {
	margin: 0;
	padding: 0;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
}

.showcase {
	margin-bottom: 20px;
	padding: 250px;
	background-image: url(../images/4.png);
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 0 5px #9f8260;
}

.footer {
	background: #000;
	padding: 2px;
	margin-bottom: 10px;
	text-align: center;
	color: #ccc;
	box-shadow: 0 0 10px #9f8260
}


.main-article {
	margin-bottom: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr;
}

.main-article-left {
	background: #123;
	padding: 80px;
	color:black;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 3fr 1fr;
	box-shadow: 0 0 15px black;
}

.main-article-left p {
    margin: 40px 0 60px 0;
}

.main-article-left h3 {
	margin: 30px;
}

.main-article-left:hover {
	background-image: url(../images/6.png);
	background-repeat: no-repeat;
	background-size: cover;
}
	
.main-article-right {
	background: #321;
	padding: 80px;
	margin-bottom:-10px;
	color: grey;
	display: grid;
	grid-gap: 50px;
	grid-template-columns: 3fr 1fr;
	box-shadow: 0 0 15px black;
}

.main-article-right p {
	margin: 40px 0 60px 0;
}

.main-article-right h4 {
	margin: 30px;
}

.main-article-right:hover {
	background-image: url(../images/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
	

.button {
	background: orange;
	color: yellow;
	padding: 10px 20px;
}

.button:hover {
	background: red;
	color: cyan;
}

a {
	text-decoration: none;
	font-family: Courier New;
}

.footer {
 	color: black;
 	background-image: url(../images/8.jpg);
 	background-size: cover;
 	background-repeat: no-repeat;
 	padding: 10px;
	font-size: 20px;
 }


